//colours
$color-white: #fff;
$color-black: #000;
$color-blue: #007bff;
$color-dark-blue: #0056b3;
$main-blue: #2980b9;
$background-color: #f9f9f9;
$color-almost-black: #333;
$color-cream: #ddd;