* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: $color-almost-black;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-model {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
}